<div class="flex flex-col gap-4 items-center justify-center">

  <%= render_card(title: @password.url,
                  subtitle: @password.created_at.strftime("%B %d, %Y"),
                  class: "w-full max-w-2xl",
                  icon_link: @password.url,
                  link: password_path(@password)) do %>

    <div class="p-6 pt-0 flex flex-col gap-2">
      <%= render_label name: "username", label: "Username / Email:" %>

      <div class="flex gap-2 justify-between items-center rounded-lg border bg-secondary text-card-foreground shadow-sm p-1">
        <%= render_typography(tag: :p, content: password.username) %>

        <%= render_button variant: :ghost, class: "h-6",
                          data: { controller: "clipboard", action: "click->clipboard#copy", clipboard_content_value: @password.username } do %>
          <%= fa_icon "clipboard", class: 'mt-1 mr-1' %>
        <% end %>
      </div>
    </div>

    <div class="p-6 pt-0 flex flex-col gap-2">
      <%= render_label name: "password", label: "Password" %>

      <div class="flex gap-2 justify-between items-center rounded-lg border bg-secondary text-card-foreground shadow-sm p-1">
        <%= render_typography(tag: :p, content: password.password) %>

        <%= render_button variant: :ghost, class: "h-6",
                          data: { controller: "clipboard", action: "click->clipboard#copy", clipboard_content_value: @password.password } do %>
          <%= fa_icon "clipboard", class: 'mt-1 mr-1' %>
        <% end %>
      </div>
    </div>

    <% if current_user_password.editable? %>
      <div class="items-center p-6 pt-0 flex justify-between">
        <% if current_user_password.deletable? %>
          <%= render "delete_alert", password: password %>
        <% end %>

        <%= render_button variant: :secondary, as: :link, href: edit_password_path(@password) do %>
          <%= fa_icon "pencil-square-o", class: 'mt-1 mr-1' %>
          Edit
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= render_card(title: "Shared With",
                  class: "w-full max-w-2xl") do %>

    <div class="p-6 pt-0 flex flex-col gap-2">
      <%= render_label name: "email", label: "Email:" %>
      <% @password.user_passwords.includes(:user).each do |user_password| %>

        <div class="flex gap-2 justify-between items-center rounded-lg border bg-secondary text-card-foreground shadow-sm p-1">
          <%= render_typography(tag: :p, content: user_password.user.email) %>

          <div class="flex gap-2 items-center">
            <%= render_badge text: user_password.role.capitalize %>

            <% if current_user_password.deletable? %>
              <%= render "delete_share_alert", user_password: user_password %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% if current_user_password.shareable? %>
      <div class="items-center p-6 pt-0 flex justify-between">
        <div></div>
        <%= render_button as: :link, href: new_password_share_path(@password) do %>
          <%= fa_icon "plus", class: 'mt-1 mr-1' %>
          New Share
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
