<%= render_typography(tag: :h1,
                      class: 'pb-2',
                      content: "All Passwords!") %>

<div class="flex w-full gap-2 flex-wrap">
  <% @passwords.each do |password| %>
    <%= render_card(title: password.url,
                    subtitle: password.created_at.strftime("%B %d, %Y"),
                    icon_link: password.url,
                    link: password_path(password)) do %>
      <div class="p-6 pt-0 flex flex-col gap-2">
        <%= render_label name: "username",
                         label: "Username / Email:" %>

        <div class="rounded-lg border bg-secondary text-card-foreground shadow-sm p-1">
          <%= render_typography(tag: :p, content: password.username) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render_pagination(@pagination) if @passwords.total_pages > 1 %>
