<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Password Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font","data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <%= render_navbar(home_path: root_path, new_password_path: new_password_path) %>
    <p class="notice flex items-center justify-center"><%= notice %></p>
    <p class="alert flex items-center justify-center"><%= alert %></p>

    <main class="container mx-auto p-5">
      <%= yield %>
    </main>
  </body>
</html>
